@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: monospace;
    font-size: 28px;
    text-align: center;
    background-color: #002041;
    color: #8EE3F1;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  

p {
    margin: 0;
}

.form-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: left;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.message-row {
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-family: monospace;
    margin-bottom: 0;
    font-size: 20px;
    min-width: 80px;
    text-align: left;
}

input, textarea {
    font-family: monospace;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #8EE3F1;
    color: #8EE3F1;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: monospace;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #8EE3F1;
    color: #8EE3F1;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    padding: 10px 30px;
}

input[type="submit"]:hover {
    background-color: #8EE3F1;
    color: #002041;
}

.about-page {
    display: flex;
    justify-content: space-between;
}

.contact {
    margin-top: 10%;
    margin-left: 8%;
    width: 40%;
    text-align: left;
}

.content-about {
    margin-top: 10%;
    margin-right: 8%;
    margin-left: 8%;
    width: 35%;
    float: right;
    align-items: right;
    justify-content: right;
    text-align: left;
}

.skills {
    display: block;
    float: right;
    align-items: right;
    justify-content: right;
    text-align: left;
    width: fit-content;
    
    margin-top: 15px;
}

.skills-item {
    display: inline-block;
    margin-bottom: 15px;
    border: 2px solid #8EE3F1;
    width: max-content;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.about-me .skills-item:hover {
    background-color: #8EE3F1;
    color: #002041;
}

.about-me {
    display: block;
    float: right;
    width: fit-content;
}

.about-me p {
    margin-bottom: 25px;
    font-size: 22px;
}

.more {
    display: block;
    float: left;
    width: 50%;
}

.content {
    margin-top: 10%;
    margin-left: 6%;
    text-align: left;
}

.content-item {
    padding-top: 0.1%;
    display: block;
    float: left;
    width: 40%;
    border:#8EE3F1;
    border-style: groove;
    margin-top: 3%;
    margin-right: 5%;
    padding: 2%;
    transition: transform 0.3s ease;
}

.content-item ul {
    font-size: 18px;
}

.content-item:hover {
    transform: scale(1.01);
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.logo {
    position: relative;
    scale: 0.8;
    margin-left: 0px;
}

.logo::after {
    content: '';
    position: absolute;

    width: 80%;
    height: 2px;
    bottom: 21px;

    background-color: #8EE3F1;
}

.logo::before {
    content: '';
    position: absolute;

    width: 80%;
    height: 2px;
    top: 21px;

    background-color: #8EE3F1;
}

.logo-text {
    position: absolute;
    top: 36px;
    left: 28px;

    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    letter-spacing: 12px;
}

.logo-circles {
    display: block;
    position: relative;

    width: 200px;
    height: 100px;

    border: 2px solid #8EE3F1;
    border-radius: 100%;
}

.logo-circles::before {
    content: '';
    position: absolute;

    height: 100%;
    width: 72%;
    top: -2px;
    left: 14%;

    border: 2px solid #8EE3F1;
    border-radius: 100%;
}

.logo-circles::after {
    content: '';
    position: absolute;
    
    width: 33%;
    height: 100%;
    top: -2px;
    left: 33%;

    border: 2px solid #8EE3F1;
    border-radius: 100%;
}

header {
    position: fixed;
    background-color: hsl(211, 100%, 13%);
    border-bottom: 2px solid #8EE3F1;
    width: 100%;
    top: 0;
    z-index: 99;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: 2px solid #8EE3F1;
    padding: 8px;
    margin: 20px 0;
}

.header-content div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content div p {
    margin-left: 40px;
}

footer {
    border-top: 2px solid #8EE3F1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #002041;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 8px;
    flex-wrap: wrap;

}

footer>div {
    width: 100%;
}

footer .code {
    margin-top: 16px;
    padding-top: 8px;
    font-size: 16px;
    border-top: 1px solid #8EE3F1;
}

.footer-container {
    display: block;
    width: 90%;
}

.footer-container div {
    font-size: 20px;
    padding: 4px 0;
    position: relative;
}

.nav-links, .progress-indicators {
    border: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    margin-bottom: 8px;
}

.footer-container div.home {
    position: relative;
    overflow: hidden;
    border: 2px solid #8EE3F1;
}

.footer-container div.home::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #8EE3F1;
    animation: homeTransition 1s ease forwards;
    border: 2px solid #8EE3F1;
}

.footer-container div.home::after {
    content: '';
    width: 13%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #8EE3F1;
    border: 2px solid #8EE3F1;
    opacity: 0;
}

@keyframes homeTransition {
    from {
        width: 0%;
    }
    to {
        width: 13%;
    }
}

.footer-container div.exp {
    position: relative;
    overflow: hidden;
    border: 2px solid #8EE3F1;
}

.footer-container div.exp::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #8EE3F1;
    animation: expTransition 2s ease forwards;
    border: 2px solid #8EE3F1;
}

.footer-container div.exp::after {
    content: '';
    width: 37%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #8EE3F1;
    opacity: 0;
    border: 2px solid #8EE3F1;
}

@keyframes expTransition {
    from {
        width: 0%;
    }
    to {
        width: 37%;
    }
}

.footer-container div.proj {
    position: relative;
    overflow: hidden;
    border: 2px solid #8EE3F1;
}

.footer-container div.proj::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #8EE3F1;
    animation: projTransition 2s ease forwards;
    border: 2px solid #8EE3F1;
}

.footer-container div.proj::after {
    content: '';
    width: 2%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #8EE3F1;
    opacity: 0;
    border: 2px solid #8EE3F1;
}

@keyframes projTransition {
    from {
        width: 0%;
    }
    to {
        width: 2%;
    }
}

.footer-container div.edu {
    position: relative;
    overflow: hidden;
    color: #8EE3F1;
    border: 2px solid #8EE3F1;
}

.footer-container div.edu span.text {
    color: #8EE3F1;
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
}

.footer-container div.edu::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    color: #8EE3F1;
    background-color: #8EE3F1;
    animation: eduTransition 2s ease forwards;
    z-index: 1;
    border: 2px solid #8EE3F1;
}

.footer-container div.edu::after {
    content: '';
    width: 83%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    color: #002041;
    background-color: #8EE3F1;
    opacity: 0;
    border: 2px solid #8EE3F1;
}

@keyframes eduTransition {
    from {
        width: 0%;
        color: #8EE3F1;
    }
    to {
        width: 83%;
        color: #002041;
    }
}

.footer-container div.about {
    position: relative;
    overflow: hidden;
    color: #8EE3F1;
    border: 2px solid #8EE3F1;
}

.footer-container div.about span.text {
    color: #8EE3F1;
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
}

.footer-container div.about::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    color: #8EE3F1;
    background-color: #8EE3F1;
    animation: eduTransition 2s ease forwards;
    z-index: 1;
    border: 2px solid #8EE3F1;
}

.footer-container div.about::after {
    content: '';
    width: 83%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    color: #002041;
    background-color: #8EE3F1;
    opacity: 0;
    border: 2px solid #8EE3F1;
}

@keyframes aboutTransition {
    from {
        width: 0%;
        color: #8EE3F1;
    }
    to {
        width: 83%;
        color: #002041;
    }
}


.footer-container a {
    text-decoration: none;
    color: #8EE3F1;
    text-align: center;
    border: 2px solid #8EE3F1;
    padding: 4px 0;
    display: block;
    font-size: 20px;
    position: relative;
}

section {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 80px;
    margin-top: 100px;

}

@media only screen and (min-width: 1024px) {
    section {
        grid-template-columns: repeat(18, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    section {
        grid-template-columns: repeat(24, 1fr);
    }
}

section>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;

}

section>div.one-1 {
    animation: float-bottom-20 6s ease-in-out infinite;
}

section>div.one-2 {
    animation: float-left-20 6s ease-in-out infinite;
}

section>div.two-1 {
    animation-delay: 1s;
}

section>div.two-2 {
    animation-delay: 1.5s;
}

section>div.three-1 {
    animation-duration: 3s;
}

section>div.three-2 {
    animation-duration: 4s;
}


@keyframes float-bottom-20 {
    0% {
        padding-bottom: 0;
        padding-top: 0;
    }

    50% {
        padding-bottom: 10px;
        padding-top: 0;
    }

    100% {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@keyframes float-left-20 {
    0% {
        padding-left: 0;
        padding-right: 0;
    }

    50% {
        padding-left: 10px;
        padding-right: 0;
    }

    100% {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Add these new styles at the end of the file */
.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: #002041;
    border: 2px solid #8EE3F1;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: #8EE3F1;
    margin: 5px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    footer {
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
    }

    footer.active {
        transform: translateY(0);
    }

    .footer-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .progress-indicators {
        display: none;
    }

    .nav-links {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .nav-links a {
        width: 100%;
        padding: 10px 0;
    }

    footer .code {
        font-size: 14px;
    }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .header-content {
        width: 95%;
        margin: 10px 0;
        justify-content: space-between;
    }

    .header-content p:first-child {
        margin-left: 25px !important;
    }

    .logo {
        scale: 0.6;
        margin-left: auto;
    }

    .content {
        margin-top: 140px;
    }

    .contact {
        margin-top: 5vh;
    }

    .content-about {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .header-content div p {
        margin-left: 20px;
        font-size: 18px;
    }

    .content {
        margin-top: 17vh;
        margin-left: 4%;
        margin-right: 4%;
    }

    .content-item {
        width: 90%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .content-item ul {
        font-size: 12px;
    }

    .about-page {
        flex-direction: column;
    }

    .contact {
        margin: 20vh 4% 5vh 4%;
        width: 92%;
    }

    .content-about {
        margin: 0vh 4% 12vh 4%;
        width: 92%;
    }

    .skills {
        width: 100%;
    }

    .skills-item {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .about-me {
        width: 100%;
    }

    .about-me p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    section {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 60px;
        margin-top: 80px;
    }

    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    input, textarea {
        font-size: 14px;
        padding: 8px;
    }

    label {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .header-content {
        padding: 5px;
    }

    .logo {
        scale: 0.5;
        margin-right: -10vw
    }

    .header-content div p {
        font-size: 0px;
        margin-left: 18px;
    }

    section {
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 50px;
    }

    .content-item {
        padding: 15px;
    }

    .content-item ul {
        font-size: 12px;
    }

    .skills-item {
        padding: 8px;
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content-item {
        width: 44%;
    }

    .content-item ul {
        font-size: 12px;
    }

    section {
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 70px;
    }

    .contact {
        margin-top: 10vh;
        width: 45%;
    }

    .content-about {
        margin-top: 10vh;
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        bottom: 2vh;
        right: 3vw;
        padding: 15px;
    }

    .hamburger-menu span {
        width: 30px;
        height: 4px;
        margin: 6px 0;
    }

    footer.active {
        padding-bottom: 80px;
    }

    .footer-container {
        width: 100%;
        padding: 10px 20px;
    }

    .footer-container a {
        font-size: 16px;
    }
    
    .footer-container div {
        border: none;
    }
}