{% extends "base.html" %}
{% block title %}{{ values.page_title }} - {{ values.project_name }}{% endblock %}
{% block page_name %}{{ values.page_title.upper() }}{% endblock %}
{% block completion %}{{ values.page_percent }}{% endblock %}

{% block content%}
<div class="about-page">
    <div class="contact">
        <div class="about-me" style="margin-top: -6px;">
            <h4>Mudit M</h4>
            <p>22 year old, pre-final year Computer Science Engineering student from New Delhi, India.</p>
            {% for i in values.about['Links'] %}
                <div class="skills-item"><a href="{{ values.about['Links'][i] }}" target="_blank" style="color: inherit; text-decoration: none;">{{ i }}</a></div>
            {% endfor %}
        </div>
        <div class="skills">
            <h4>Skills</h4>
            {% for i in values.about['Skills'] %}
                <div class="skills-item">{{ i }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="content-about">
        <h4>Contact</h4>
        <form action="/submit" method="post">
            <div class="form-col">
                <div class="form-row">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-row">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-row message-row">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="6" required></textarea>
                </div>

                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% if success %}
<script>
    alert('Thank you! Your message has been sent.');
</script>
{% endif %}
{% endblock %}